<div class="card">
	<div class="card__image">
		<img src="http://lorempixel.com/1000/600/sports/1/" alt="image"  class="card__image-item">
	</div>
	<div class="card__note">

		<div class="card__note-top"  layout="row" layout-align="space-between start">
			
			<div class="card__note-main" >
				<div class="card__note-main-row"  layout="row" layout-align="start center">
					<ot-userpic class="userpic--default"  layout="column"></ot-userpic>
					<div class="card__note-title"  layout="column">
						<a href="#3" class="card__note-title-link">Горный велосипед карбоновый </a>
					</div>
				</div>
			</div>
		
			<div class="card__note-distance" >
				Lorem ipsum dolor sit.
			</div>
		
		</div>

		<div class="card__note-aside">
			<ot-tags></ot-tags>
		</div>
		
	</div>
</div>